{% extends 'template.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>Этот сайт был создан для практики моих навыков в деле, а также для переработки моего ныне уже несуществующего сайта</p>
      <p>На этом сайте вы сможете найти различные файлы(например моды, скрины, карты) по различным играм(будто Minecraft, Stardew Valley и тд)</p>
    </div>
  </div> 
</div>  
{% endblock %}

{% block head_import %}
{% endblock %}
{% block body_import %}
{% endblock %}